jenkins:
  systemMessage: "Jenkins Workshop"
  numExecutors: 1
  mode: NORMAL
  securityRealm:
    local:
      allowsSignup: false
      users:
        - id: "${username}"
          password: "#jbcrypt:${password}"
  authorizationStrategy:
    loggedInUsersCanDoAnything:
      allowAnonymousRead: false
  remotingSecurity:
    enabled: true
tool:
  git:
    installations:
      - name: git
        home: /bin/git
jobs:
  - script: >
      folder('testjobs')
  - script: >
      pipelineJob('testjobs/demo') {
        definition {
          cpsScm {
            scm {
              github('typhoon51280/aws-terraform-workshops')
            }
            lightweight()
            scriptPath('w4/jenkins/files/Jenkinsfile')
          }
        }
      }