#!/bin/bash -xe

exec > >(tee /var/log/user-data.log|logger -t user-data -s 2>/dev/console) 2>&1

# Installing AWS CLI
yum install aws-cli -y

# Downloading bootstrap script and starting it
aws s3 cp s3://${s3_bucket_name}/bootstrap-scripts/jenkins_bootstrap_script.sh /tmp && sh /tmp/jenkins_bootstrap_script.sh
